@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Raleway:200');

@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kay+Pho+Du&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Noto+Serif:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css?family=Hind:300,400&display=swap');

body{
	font-family: 'Roboto', sans-serif;
}
* {
	margin: 0;
	padding: 0;
	
}
i {
	margin-right: 10px;
}

.container {
    display: flex;
    justify-content: space-between; /* Distribute items to the start and end of the container */
    padding: 0.5cm; /* Add padding for better spacing */
    align-items: flex-start; /* Align items to the start (top) of the container */
}
.image-container{/*symbol*/
    flex : 1;
    max-width: 1000px;
}
.image-container1 {/* gr*/
  flex: 1; /* Equal width for both containers */
  max-width: 1000px;
  margin-top: 0;
  margin-right:0;
  overflow: hidden;
}
.image-container2 {
  flex: 1; /* Equal width for both containers */
  max-width: 1000px;
  margin-top: 0%;
  margin-right: 0;
}

.image-container1 img,
.image-container img {
  max-width: 100%; /* Make sure images don't exceed their container width */
  height: auto;
  display: block;
}

@media (max-width: 767px) {/* need for tabs*/
  .image-container2 {
      display: none;
  }

  /* .image-container1,
  .image-container {
      flex: 1;
      max-width: calc(50% - 0.5em); 
      padding: 50px;
  }
  .image-container1 img {
    content: url('pics/GRLogo.png');
    content: url('pics/GRLogo.png');
    max-width: 60px;
    margin-top: 100px;
    margin-left: calc(11% + 16%); 
  } */
}
  #navbar {
      position: sticky;
      /* margin-top: -2.5cm; */
      top: 0;
      z-index: 100;
      flex: 2; /* Take up 2/3 of available space */
      font-family: 'Noto Serif', serif;
  }
  
.icon1{
  overflow:auto;
  margin-bottom:-6px;
  filter: invert(100%);
}

.navbar-mainbg {
    background-color: #4285F4;
      border-radius: 20px;
      width: 90%;
      margin-left: 4.5%;
      padding: 0px; /* Add padding to the navbar */
}

#navbarSupportedContent {
    overflow: hidden;
    position: relative;
    margin-left: 20%;
}

#navbarSupportedContent ul {
    padding: 0;
    margin: 0;
}

#navbarSupportedContent ul li {
    list-style-type: none;
    display: inline-block;
}

#navbarSupportedContent ul li a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    display: block;
    padding: 20px 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    position: relative;
}
#navbarSupportedContent ul li.active i {
  filter: invert(50%);
}

#navbarSupportedContent>ul>li.active>a {
    color: #4285F4;
    background-color: transparent;
    transition: all 0.7s;

}

#navbarSupportedContent a:not(:only-child):after {
    content: "\f105";
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 14px;
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    font-weight: 900;
    transition: 0.5s;
}

#navbarSupportedContent .active>a:not(:only-child):after {
    transform: rotate(90deg);
}

.hori-selector {
    display: inline-block;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    background-color: #fff;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-top: 10px;
}

.hori-selector .right,
.hori-selector .left {
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: #fff;
    bottom: 10px;
}

.hori-selector .right {
    right: -25px;
}

.hori-selector .left {
    left: -25px;
}

.hori-selector .right:before,
.hori-selector .left:before {
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #4285F4;
}

.hori-selector .right:before {
    bottom: 0;
    right: -25px;
}

.hori-selector .left:before {
    bottom: 0;
    left: -25px;
}


@media(min-width: 992px){
	.navbar-expand-custom {
	    -ms-flex-flow: row nowrap;
	    flex-flow: row nowrap;
	    -ms-flex-pack: start;
	    justify-content: flex-start;
	}
	.navbar-expand-custom .navbar-nav {
	    -ms-flex-direction: row;
	    flex-direction: row;
	}
	.navbar-expand-custom .navbar-toggler {
	    display: none;
	}
	.navbar-expand-custom .navbar-collapse {
	    display: -ms-flexbox!important;
	    display: flex!important;
	    -ms-flex-preferred-size: auto;
	    flex-basis: auto;
	}
}


@media (max-width: 991px){
	#navbarSupportedContent ul li a{
		padding: 12px 30px;
	}
	.hori-selector{
		margin-top: 0px;
		margin-left: 10px;
		border-radius: 0;
		border-top-left-radius: 25px;
		border-bottom-left-radius: 25px;
	}
	.hori-selector .left,
	.hori-selector .right{
		right: 10px;
	}
	.hori-selector .left{
		top: -25px;
		left: auto;
	}
	.hori-selector .right{
		bottom: -25px;
	}
	.hori-selector .left:before{
		left: -25px;
		top: -25px;
	}
	.hori-selector .right:before{
		bottom: -25px;
		left: -25px;
	}
}

/*Google Box*/

.container1 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0px;
  }
  .gradient-text {
    background-clip: text;
    color: transparent;
    background-image: linear-gradient(to right, #4285F4, #EA4335); /* Define the linear gradient colors */
    display: inline-block; /* Ensures that the gradient applies only to the text */
  }

  hr {
    border: none; /* Remove the default border */
    border-top: 4px solid red; /* Set the desired border color and width */
    margin: 20px 0; /* Adjust the margin as needed */
  }
#box1{
    width: 100%;
    background-color: rgba(255, 255, 255);
    text-align: center;
    font-family: 'Kay Pho Du', serif;
    font-size: 1.5rem;
    margin-right: 0px;
    margin-top: 1cm;
    padding: 20px;
    border-radius: 10px;
    overflow: hidden;
    color: black;
    border: 2px solid ;
    /*border-image: linear-gradient(to right, #4285F4, #34A853, #FBBC05, #EA4335); /* Define the linear gradient colors */
    /*border-image-slice: 1; /* Ensure the entire border is filled with the gradient */
   
  }
  #box2 {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8); /* Use a semi-transparent background color */
    text-align: justify;
    font-family: sans-serif;
    font-size: 1.3rem;
    margin-right: 0px;
    margin-bottom: 1cm;
    padding: 20px;
    border-radius: 10px;
    overflow: hidden;
    color: rgb(0, 0, 0);
    font-family: 'Prompt', sans-serif;
    backdrop-filter: blur(10px); /* Adjust the blur radius as needed */
    
    font-weight: bold;
  }
  
  .Heading {/* not needed this block remove it as it is not used */
    font-family: cursive, sans-serif; /* Replace 'YourDesiredFont' with the actual font you want to use */
    font-size: 2.3rem; /* Adjust the font size as needed */
    font-weight: bold; /* Adjust the font weight as needed */
    color: white; /* Adjust the text color as needed */
    text-align: center; /* Adjust the text alignment as needed */
    padding: 60px; /* Adjust the padding as needed */
    border-radius: 5px; /* Adjust the border radius as needed */
    
  }
  .AboutUsHeading {
    font-family: cursive, sans-serif; /* Replace 'YourDesiredFont' with the actual font you want to use */
    font-size: 2.3rem; /* Adjust the font size as needed */
    font-weight: bold; /* Adjust the font weight as needed */
    color: rgb(0, 0, 0); /* Adjust the text color as needed */
    padding:10px;
    margin-top: 4%;
    border-radius: 5px; /* Adjust the border radius as needed */
  }

  /*Ticker*/
  .holder { 
    flex: 1;
    background-color:rgb(237,237,237);
    width:100%;
    height:300px;
    overflow:hidden;
    padding:1px;
    margin-left: 0px;
    font-family:Helvetica;
    display: flex;
    margin-top: 50px;
    border-radius: 20px;
  }
  .holder .mask {
    position: relative;
    left: 0px;
    top: 10px;
    width:300px;
    height:240px;
    overflow: hidden;
    margin-top: 30px;
  }
  
  .holder ul {
    list-style:none;
    margin:0;
    padding:0;
    position: relative;
  }
  .holder ul li {
    padding:10px 0px;
  }
  .holder ul li a {
    color:black;
    text-decoration:none;
  }

  .top {
    display: flex;
    width: 100%;
  }

  .container, .holder {
    padding: 10px; /* Add padding as needed */
  }

  .container {
    margin-right: 0%; /* Adjust the margin as needed */
  }
  #ticker01 li span {
    font-weight: bold;
    color: black;
  }

  .CurrentEvents{
    font-family: 'Dancing Script', cursive;
    color: black;
    font-weight: bold;
    font-size: 30px;
  }

  .section1 {
    background-image: url('pics/Banner1.png'); /* Replace 'your-image-url.jpg' with the actual URL or path to your image */
    background-size: cover; /* Adjust the background size as needed */
    background-position: center; /* Center the background image */
    /* You can add more background properties and styles as needed */
    height: auto; /* Set a height for the section to see the background */
  }
  .section2 {
    background-image: url('pics/Banner2.png'); /* Replace 'your-image-url.jpg' with the actual URL or path to your image */
    background-size: cover; /* Adjust the background size as needed */
    background-position: center; /* Center the background image */
    /* You can add more background properties and styles as needed */
    height: auto; /* Set a height for the section to see the background */
    position: relative;
    display: flex;
  }
  .aboutUs{
    flex:1;
  }
  .container3{
    flex: 1;
  }

.section2 img {
  width: 100%; /* Make the image fill the entire width of the section */
  height: 300px; /* Maintain the aspect ratio of the image */
  display: block; /* Remove extra spacing below the image */
  margin-left: 0%;
  margin-top: 10%;
  border-radius: 20px;

}
#box3{
    width: 100%;
    background-color: rgb(255, 255, 255);
    text-align: justify;
    font-family: 'Kay Pho Du', serif;
    font-size: 1.5rem;
    margin-left: 0%;
    margin-top: 0px;
    padding: 20px;
    border-radius: 10px;
    overflow: hidden;
    color: black;
    border: 2px solid ;
    /*border-image: linear-gradient(to right, #4285F4, #34A853, #FBBC05, #EA4335); /* Define the linear gradient colors */
    /*border-image-slice: 1; /* Ensure the entire border is filled with the gradient */
   
  }#box4 {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8); /* Use a semi-transparent background color */
    text-align: justify;
    font-family: sans-serif;
    font-size: 1.3rem;
    margin-left: 0%;
    margin-bottom: 1cm;
    padding: 20px;
    border-radius: 10px;
    overflow: hidden;
    color: rgb(0, 0, 0);
    font-family: 'Prompt', sans-serif;
    backdrop-filter: blur(20px); /* Adjust the blur radius as needed */
  }
  
  .section3 {
    background-image: url('pics/Banner3.png'); /* Replace 'your-image-url.jpg' with the actual URL or path to your image */
    background-size: cover; /* Adjust the background size as needed */
    background-position: center; /* Center the background image */
    /* You can add more background properties and styles as needed */
    height: auto; /* Set a height for the section to see the background */
    position: relative;
    color:rgb(0, 0, 0);
  }
  
  .EventsHeading {
    font-family: cursive, sans-serif; /* Replace 'YourDesiredFont' with the actual font you want to use */
    font-size: 2.3rem; /* Adjust the font size as needed */
    font-weight: bold; /* Adjust the font weight as needed */
    color: rgb(0, 0, 0); /* Adjust the text color as needed */
    padding:10px;
    margin-top: 4%;
    border-radius: 5px; /* Adjust the border radius as needed */
    text-align: center;
  }


/* Variables */
:root {
  --bg: #fff;
  --text: #7288a2;
  --gray: #4d5974;
  --lightgray: #e5e5e5;
  --blue: #03b5d2;
}

* {
  box-sizing: border-box;
}


.container2 {
  margin: 0 auto;
  padding: 4rem;
  width: 75rem;
}

.accordion-item {
  border-bottom: 1px solid var(--lightgray);

  backdrop-filter: blur(20px); /* Adjust the blur radius as needed */
  background-color: rgba(255, 255, 255, 0.8); /* Use a semi-transparent background color */
  border-radius: 10px;
  overflow: hidden;
  font-family: 'Prompt', sans-serif;

  /* Apply the backdrop-filter property for blurring */
  backdrop-filter: blur(10px); 
}

button[aria-expanded='true'] {
  border-bottom: 1px solid var(--blue);
}

button {
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  padding: 1em 0;
  color: var(--text);
  font-size: 1.15rem;
  font-weight: 400;
  border: none;
  background: none;
  outline: none;
}

button:hover,
button:focus {
  cursor: pointer;
  color: var(--blue);
}

button:hover::after,
button:focus::after {
  cursor: pointer;
  color: var(--blue);
  border: 1px solid var(--blue);
}

.accordion-title {
  padding: 1em 1.5em 1em 0;
}

.icon {
  display: inline-block;
  position: absolute;
  top: 18px;
  right: 0;
  width: 22px;
  height: 22px;
  border: 1px solid;
  border-radius: 22px;
}

.icon::before {
  display: block;
  position: absolute;
  content: '';
  top: 9px;
  left: 5px;
  width: 10px;
  height: 2px;
  background: currentColor;
}

.icon::after {
  display: block;
  position: absolute;
  content: '';
  top: 5px;
  left: 9px;
  width: 2px;
  height: 10px;
  background: currentColor;
}

button[aria-expanded='true'] {
  color: var(--blue);
}

button[aria-expanded='true'] .icon::after {
  width: 0;
}
.accordion-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 200ms linear, max-height 200ms linear;
  will-change: opacity, max-height;
}


button[aria-expanded='true'] + .accordion-content {
  opacity: 1;
  max-height: 1000px; 
  height: auto;
  transition: all 200ms linear;
  will-change: opacity, height;
}

.accordion-content p {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 2em 0;
}

.ContactHeading {
  font-family: 'Dancing Script', cursive;
  font-size: 2.3rem;
  font-weight: bold;
  color: white;
  border-radius: 5px;
  margin-top: 1%;
  margin-left: 45%;
}

.section5 {
  /*background-image: url('pics/Banner3.png'); /* Replace 'your-image-url.jpg' with the actual URL or path to your image */
  background-size: cover; /* Adjust the background size as needed */
  background-position: center; /* Center the background image */
  /* You can add more background properties and styles as needed */
  min-height: 700px;
  height: auto; /* Set a height for the section to see the background */
  position: relative;
  background-color: #3c3c3c;
  color:rgb(0, 0, 0);
}
.section6 {
  /*background-image: url('pics/Banner3.png'); /* Replace 'your-image-url.jpg' with the actual URL or path to your image */
  background-size: cover; /* Adjust the background size as needed */
  background-position: center; /* Center the background image */
  /* You can add more background properties and styles as needed */
  height: auto; /* Set a height for the section to see the background */
  position: relative;
  background-color: #000000;
  color:rgb(0, 0, 0);
}


.section4 {
  background-image: url('pics/Banner4.png'); /* Replace 'your-image-url.jpg' with the actual URL or path to your image */
  background-size: cover; /* Adjust the background size as needed */
  background-position: center; /* Center the background image */
  /* You can add more background properties and styles as needed */
  min-height: 700px;
  height: auto; /* Set a height for the section to see the background */
}

.ProgramSchedule {
  font-family: cursive, sans-serif; /* Replace 'YourDesiredFont' with the actual font you want to use */ /* Adjust the font size as needed */
  font-weight: bold; /* Adjust the font weight as needed */
  color: Black; /* Adjust the text color as needed */
  text-align: center; /* Adjust the text alignment as needed */
  padding: 60px; /* Adjust the padding as needed */
  border-radius: 5px; /* Adjust the border radius as needed */
}
#box5 {
  width: 300px;
  height: auto;
  background-color: rgba(255, 255, 255, 0.8); /* Use a semi-transparent background color */
  text-align: center;
  font-size: 1.8rem;
  margin-left: 7%;
  margin-bottom: 1cm;
  padding: 20px;
  border-radius: 10px;
  overflow: hidden;
  color: rgb(0, 0, 0);
  backdrop-filter: blur(20px); /* Adjust the blur radius as needed */
}
.content__container__list__item a {
  color: white;
  text-decoration: none; /* Remove the underline */
}

.icon2{
  overflow:auto;
  margin-left: 30px;
  filter: invert(100%);
}
.icon {
  display: inline-block;
  position: absolute;
  top: 15px;
  right: 0;
  width: 22px;
  height: 22px;
  border: 1px solid;
  border-radius: 22px;
}

@media screen and (max-width: 600px) {
  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .section1 {
    height: auto;
  }

  .image-container {
    align-items: center;
    max-width: 600px;
    height: auto;
    width: 100%;
    margin: 0px;
  }

  .image-container1 {
    margin-top: -85px;
    align-items: center;
    width: 100%;
    position: relative;
    top: 0px;
  }

  .image-container2 {
    align-items: center;
    width: 100%;
  }

  .top {
    height: 1000px;
    display: flex;
    flex-direction: column;
  }

  #box2,
  #box4,
  #box3,
  #box1 {
    width: 90%;
    font-weight: bolder;
    margin: 0px;
    padding: 0px;
  }

  .section2 {
    display: inline-flex;
    flex-direction: column;
    height: auto;
  }

  .image-container2>img {
    display: none;
  }

  .image-container1>img,
  .image-container>img {
    width: 90%;
    display: block;
    margin-bottom: 10px;
    padding: 5%;
  }

  #header {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  #box4{
    background-color: transparent;
    background-image: none; /* Make sure there is no background image */
    /* background-blur: none;   If there is any blur effect applied */
    filter: none;  
  }
  .container1 {
    margin-left: 0px;
  }

  .holder {
    background-color: rgb(237, 237, 237);
    width: 100%;
    height: 250px;
    overflow: hidden;
    padding: 0px;
    font-family: Helvetica;
    display: flex;
    margin-top: 50px;
    border-radius: 20px;
    margin-left: 0px;
  }

  .holder .mask {
    position: relative;
    left: 0px;
    top: 10px;
    width: 300px;
    height: 240px;
    overflow: hidden;
    margin-top: 30px;
  }

  .holder ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
  }

  .holder ul li {
    padding: 10px 0px;
  }

  .holder ul li a {
    color: black;
    text-decoration: none;
  }

  .container {
    padding: 10px;
    margin-right: 2px;
  }

  #ticker01 li span {
    font-weight: bold;
    color: black;
  }

  .CurrentEvents {
    font-family: 'Dancing Script', cursive;
    color: black;
    font-weight: bold;
    font-size: 30px;
  }

  .section4 {
    display: inline-flex;
    flex-direction: column;
    min-height: 900px;
    height: auto;
  }

  .section5 {
    display: inline-flex;
    flex-direction: column;
    min-height: 900px;
    height: auto;
  }

  .section6 {
    display: inline-flex;
    flex-direction: column;
  }

  .ProgramSchedule {
    align-items: center;
    padding: 0px;
  }

  .ContactHeading {
    margin-left: 0px;
  }
  .container3{
    padding-left: 5%;
  }
  .section3{
    height: auto;
  }
  .section2 img{
    margin: 0px;
    width: 92%;
    padding: 4%;
  }
}
